//Color 

$color-primary: #58e1c1;
$color-secondary: #777;
$color-btnlinkhover: #fff;
$color-linkbutdef11: #51ddfc;
$color-error9: #e4757a;
$color-info: #927bc1;
$color-success10: #63cc82;
$color-warning2: #fd7856;
$color-background1: #927bc1;
$color-background3: #deb2ee;
$color-background4: #7ee6fd;
$color-background5: #88d9a0;
$color-background6: #4da2bb;
$color-background7: #ec9fa3;
$color-background8: #fd9f85;
$color-background12: #80e8d1;

//Media query breakpoints

$brk-wide : '(min-width: 768px)';
