/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
  padding: 0 10px;

  @media #{$brk-wide} {
    max-width: 1400px;
    display: block;
    margin-left: auto;
    margin-right: auto;}
}

.row {
  display: flex;
  flex-direction: column;
  padding: 1em 10px;
}

[class^=col] {
  margin-top: $mt10;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;
}

.theme.col-1 {
  background-color: $color-background1;
}

.theme.col-2 {
  background-color: $color-warning2;
}

.theme.col-3 {
  background-color: $color-background3;
}

.theme.col-4 {
  background-color: $color-background4;
}

.theme.col-5 {
  background-color: $color-background5;
}

.theme.col-6 {
  background-color: $color-background6
}

.theme.col-7 {
  background-color: $color-background7;
}

.theme.col-8 {
  background-color: $color-background8;
}

.theme.col-9 {
  background-color: $color-error9;
}

.theme.col-10 {
  background-color: $color-success10;
}

.theme.col-11 {
  background-color: $color-linkbtndef11;
}

.theme.col-12 {
  background-color: $color-background12;
}

.card {
  flex-basis: 100%;
}
